
<html>
  <head>
    <link rel="stylesheet" href="attack-style.css">
  </head>
  <body>
    <center>
      <%=@game.player1.name%> attacked with a BIG hug <%=@game.player2.name%>
      <h1></h1>
      <%=@game.player2.name%> HP HAS NOW GONE DOWN TO: <%=@game.player2.hp%>
    </center>
  <body>


</html>
