
<html>
  <head>
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <center>
      <h1>Tinder Tragedy</h1>

      <form action="/names" method="post">

        <label for="player1_name">
          Player 1
          <br>
          <input type="text" name="player1_name">
        </label>
        <br>
        <br>
        <label for="player2_name">
          Player 2
          <br>
          <input type="text" name="player2_name">
        </label>
        <br>
        <br>

        <h2>Click the Heart: Start the Date</h2>
        <button type="submit" style="border: 0; background: transparent">
          <img src='http://www.onlygfx.com/wp-content/uploads/2016/05/hand-drawn-heart-1.png' width="150" height="150" alt="submit" />
        </button>
      </form>

    </center>
  <body>

</html>
