<h1> <%=@player1_name%> clocking in to kick some a$$ </h1>
<h1> <%=@player2_name%> back in the game for some major carnage </h1>

<%=@player2_name%>: 20HP

<form action="/attack">
  <input type='submit' value="Attack">
</form>
