h1{

  font-family:"Snell Roundhand", Gadget, cursive;
  font-size: 100px

  }
h2{
  font-family:"Helvetica",sans-serif;

}

body{
  background-image:url('https://media.giphy.com/media/26ufcYAkp8e66vanu/giphy.gif');
  background-size: cover;

}
label{
  font-family:"Helvetica",Gadget, sans-serif;

}
